<<<<<<< HEAD
﻿@model DSAR.ViewModels.UserView
@{
    Layout = null;
}
=======
﻿@model IEnumerable<User>

>>>>>>> 56832847cdeabe744161f1af819174b8cf5fe246
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<<<<<<< HEAD
    <title>User List</title>
</head>
<body>
    <form asp-controller="User" asp-action="Logout" method="post">
        <button type="submit">Logout</button>
    </form>
    @if (Model != null)
    {
        <p> @Model.FullName <strong>مرحباً ياً:</strong> </p>
    }
    else
    {
        <p>No user found.</p>
    }
    <h2>User List</h2>
    <table border="1">
        <thead>
            <tr>
                
                <th>FullName</th>
                
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
          
                @foreach (var user in Model.Users)
                {
                    <tr>
                       
                        <td>@user.FullName</td>
                        
                        <td>@user.Email</td>
                    <td>
                        <a asp-controller="Fun" asp-action="Edit" asp-route-id="@user.UserId">Edit</a> <!-- ✅ Edit link -->
                    </td>
                    <td><a asp-controller="Fun" asp-action="Delete" asp-route-id="@user.UserId">Delete</a></td>
                    </tr>
                }
        
        </tbody>
=======
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Password</td>
            <td>Email</td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.FullName</td>
                <td>@user.Password</td>
                <td>@user.Email</td>
            </tr>
        }
>>>>>>> 56832847cdeabe744161f1af819174b8cf5fe246
    </table>
</body>
</html>
